{% extends 'base.html.twig' %}

{% block title %}SP - Edit Path {{ pathway.title }}{% endblock %}
{% block main_content %}

    {% block body %}
        <div class="container">
            <div class="card mt-4">
                <div class="card-header">
                    <h2 class="text-center">Update "{{ pathway.title }}"</h2>
                </div>
                <div class="card-body">
                    {% include 'path/_form.html.twig' with {'button_label': 'Update Pathway', 'button_color': 'btn-outline-success'}  %}
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}